<!DOCTYPE html>
<html lang="en">
<head>
<title>Kurungaleeshwarar Temple</title>
</head>
<body bgcolor="pink">
<h1 align="center">
<font color="black"><b>Kurungaleeshwarar Temple</b></font>
</h1>
<h2 align="center">
<font color="brown"><b>Kurungaleeshwarar Temple</b></font>
</h2>
<hr size="3" color="black">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
    KURUNGALEESHWARAR Temple is a CE rock-cut cave shrine,
    significantly expanded over the later years. It is located koyabedu in Tamil Nadu, India.

    The Kuru tmeple at koyambedu, Tamil Nadu, India, is a shrine dedicated to Tamil Hindu deity.
</b>
</font>
</p>
</body>
</html>
    