<!DOCTYPE html>
<html lang="en">
<head>
    <title> KOYAMBEDU </title>
</head>
<body style="background-color: black;">
    <img src="/static/images/KOYAMBEDU.png" width="1916" height="811" alt="koyambedu" usemap="#koyambedu">
<MAP name="koyambedu">
    <area shape="RECT" coords="647,270,795,352" alt="metrostation" title="metrostation" href="/metrostation/">
    <area shape="RECT" coords="647,270,795,352" alt="sangeetha" title="sangeetha" href="/sangeetha/">
    <area shape="RECT" coords="182,490,463,662" alt="midnightdhaba" title="midnightdhaba" href="/midnightdhaba/">
    <area shape="RECT" coords="662,391,955,527" alt="bigboss" title="bigboss" href="/bigboss/">
    <area shape="RECT" coords="915,546,1185,748" alt="corporationpark" title="corporationpark" href="/corporationpark/">


</map>    
</body>
</html>